:root {
  --primary-color: #f4f4f4;
  --secondary-color: #d4e021;
  --secondary-border-color: #bbe852;
  --background-color: #263238;
  --border-color: #bdbdbd;
  --nav-background-color: #0f172a;
  --header-border-color: #b9d0f0;
}
